@import '../../../../styles/vars';

.burger {
  display: flex;
  flex-direction: column;
  width: 60px;
  gap: 8px;
  background: transparent;
  border: none;
  align-items: flex-end;


  .line {
    display: inline-block;
    width: 40px;
    height: 3px;
    background: $darkRed;
    &:nth-child(2) {
      align-self: flex-start;
    }
  }

}

